body {
    background: #0d1525;
    color: #ccc;
    font-family: "Poppins", sans-serif;
}

.navbar {
    background: #111;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar .logo {
    color: #fff;
    font-size: 22px;
    font-weight: bold;
}

.navbar .menu {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar .menu a {
    color: #ccc;
    text-decoration: none;
    font-size: 16px;
}

.navbar .menu a.ativo,
.navbar .menu a:hover {
    color: #7b2fff;
}

.header {
    text-align: center;
    padding: 50px 20px 10px;
}

.header h1 {
    font-size: 36px;
}

.destaque {
    background: linear-gradient(to right, #7b2fff, #d14cff);
    -webkit-background-clip: text;
    color: transparent;
}

.descricao1 {
    margin-top: 10px;
    color: #8ea0b5;
}

.case-container {
    max-width: 1100px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    gap: 40px;
}

.case-imagem img {
    width: 100%;
    border-radius: 12px;
}

.case-texto h2 {
    margin-bottom: 10px;
}

.case-texto ul {
    color: #8ea0b5;
}

blockquote {
    margin-top: 20px;
    background: linear-gradient(to right, #7b2fff, #d14cff);
    padding: 15px;
    border-left: 4px;
    border-radius: 6px;
}
