* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #0d1525;
    color: white;
    font-family: "Poppins", sans-serif;
}


.navbar {
    width: 100%;
    padding: 20px 60px;
    background: #0b1320;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

.menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

.menu a {
    text-decoration: none;
    color: #c9d1d9;
    transition: 0.3s;
}

.menu a:hover,
.menu .active {
    color: #7b2fff;
}


.header {
    text-align: center;
    padding: 70px 30px;
}

.subtitulo {
    color: #7b8a9e;
    font-size: 15px;
}

.header h1 {
    font-size: 40px;
    margin-top: 10px;
}

.destaque {
    background: linear-gradient(to right, #7b2fff, #d14cff);
    -webkit-background-clip: text;
    color: transparent;
}

.descricao {
    margin-top: 10px;
    color: #8ea0b5;
}


.skills-grid {
    width: 90%;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 25px;
}

.skill-card {
    background: #111b2e;
    border: 1px solid #1e2a43;
    padding: 25px;
    border-radius: 14px;
    text-align: center;
    transition: 0.3s;
}

.skill-card:hover {
    transform: translateY(-6px);
    border-color: #7b2fff;
}

.icon-skill {
    font-size: 45px;
    margin-bottom: 10px;
    color: #7b2fff;
}




