body {
  background-color: black;
  color: white;
  font-family: Arial, sans-serif;
  margin: 0;
}

header {
  padding: 20px;
  text-align: center;
  background-color: #111;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 10px;
}

nav a:hover {
  color: #00ff5e;
}

h1 {
  color: white;
}

h2.titulo {
  color: #fff;
  font-size: 40px;
  text-align: center;
}

h2.titulo span {
  color: #00FF08;
}

.titulo {
    margin-top: -10px;
    margin-bottom: 40px;
}

.habilidades-section {
  padding: 40px 4%;
  background-color: black;
}

.habilidades-section .flex {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 40px;
  flex-wrap: nowrap;
}

.habilidade-box {
  background-color: #111;
  padding: 30px;
  border-radius: 20px;
  width: 260px;
  transition: 0.2s;
  border: 1px solid #00ff084b;
  min-height: 260px;
}

.habilidade-box:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ff0875;
}

.habilidade-box h3 {
  font-size: 22px;
  margin-bottom: 15px;
  color: #00FF08;
  text-align: center;
}

.habilidade-box p {
  font-size: 14px;
  line-height: 20px;
  margin-bottom: 10px;
  color: #e3e3e3;
  text-align: center;
}

@media (max-width: 950px) {
  .habilidades-section .flex {
    flex-wrap: wrap;
    gap: 30px;
  }

  .habilidade-box {
    width: 260px;
  }
}

@media (max-width: 650px) {

  nav {
    flex-direction: column;
    gap: 8px;
  }

  .habilidades-section .flex {
    flex-direction: column;
    align-items: center;
    gap: 25px;
  }

  .habilidade-box {
    width: 85%;
    max-width: 300px;
  }
}

@media (max-width: 420px) {

  h2.titulo {
    font-size: 30px;
  }

  nav a {
    font-size: 14px;
  }

  .habilidade-box {
    padding: 22px;
    width: 90%;
  }
}